<!DOCTYPE html>
<html>
<head>
    <title>Yee control</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/colorjoe.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/robustws.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/colorjoe.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <br>
    <div id="app" class="container">
        <div class="row">
            <div class="col-auto">
                <h4 class="mx-auto">Light selection</h4>
                <table class="fixed_header" id="tablefrom">
                    <tbody>
                        <tr v-for="value in lights">
                            <td v-bind:class="{ selected: value.isSelected }" onclick="selectLight(this)">{{value.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h4 class="mx-auto">Control</h4>
                <div class="btn-group" style="width: 100%">
                    <button type="button" onclick="lightToggle('on')" class="btn btn-warning btn-lg ">Sun</button>
                    <button type="button" onclick="lightToggle('on', 5)" class="btn btn-secondary btn-lg ">Moon</button>
                    <button type="button" onclick="lightToggle('off')" class="btn btn-dark btn-lg ">Off</button>
                </div>
                <div class="btn-group" style="width: 100%">
                    <button type="button" onclick="lightToggleBg('on')" class="btn btn-warning btn-lg ">Ambiance on</button>
                    <button type="button" onclick="lightToggleBg('on', 4)" class="btn btn-danger btn-lg ">Flow</button>
                    <button type="button" onclick="lightToggleBg('off')" class="btn btn-dark btn-lg ">Ambiance Off</button>
                </div>
                <br/><br/>
                <h4 class="mx-auto">Color:</h4>
                <div id="hslPicker"></div><br />
                Brightness:
                <input type="range" id="brightness" min="1" max="100" value="50" class="slider">
                Temperature:
                <input type="range" id="temperature" min="2700" max="6500" value="3500" class="slider">
            </div>
        </div>
        <div class="row" v-if="false" v-cloak>
            <div v-if="count_enabled() == 1" class="col-auto">
                <h4>Configuration</h4>
            <input type="text" class="form-control" placeholder="Name" id="name">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" onclick="changeName()" id="name" type="button">Update</button>
            </div>
            </div>

        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>