[v-cloak] { display:none; }

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

table {
  border: 1px solid rgb(200, 200, 200);
  min-width: 80px;
}

tr, tbody {
  width: 100%;
}

tbody > tr:nth-child(even){
  background-color: #f2f2f2;
}

.selected {
  background-color: #91d178 !important;
}

.oned {
  display: none;
}

